button {
    outline: none;
}

.infoDiv {
    display: inline-block;
    vertical-align: top;
    width: 1100px;
    height: auto;
    /*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);*/
    border: solid 1px #e1e1e1;
    padding: 20px;
    margin-bottom: 40px;
}

.range-slider {
    margin-top: 20px;
}

.range-slider {
    width: 100%;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #D1A5A5;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #D1A5A5;
    border-bottom: 7px solid transparent;
    content: '';
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - 73px);
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #A3B6C4;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #A3B6C4;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #A3B6C4;
}

.range-slider__range:active::-moz-range-thumb {
    background: #A3B6C4;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 24px;
    color: #8e8e8e;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.mdl-data-table tbody tr.is-selected {
    background-color: #ececec;
}

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #7a7a7a;
    line-height: 38px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.select2-container .select2-selection--single {
    outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #c9c9c9;
    color: white;
}

.deleteButton:hover {
    cursor: pointer;
}

#confirmAddStock {
    background-color: #95a6b3;
    border: none;
    color: #fff;
    width: 10%;
    /*height: 20px;*/
    font-weight: 300;
    font-size: 14px;
    padding: 8px;
    letter-spacing: 3px;
    text-indent: 3px;
}

#confirmAddStock:hover {
    background-color: #a6b9c7;
}