.scroll-pane > .viewport {
    -fx-background-color: #ffffff00;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #ffffff00;
    -fx-border-color: #ffffff00;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ababab;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #ffffff;
}

